.table-container {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
  margin-top: 10px;
}

.table-container table {
  width: 100%;
  table-layout: auto;
  border-spacing: 0;
}

td, th {
  padding: 0.5rem;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

tr:last-child td {
  border-bottom: none; /* Optional: remove bottom border of last row */
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #90d3ff;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 10, 0.4);
}

.centered-table th,
.centered-table td {
  text-align: center;
}
