table {
  border-spacing: 0;
  border: 1px solid #000000;
  width: 100%;
}

td {
  padding: 0.5rem;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

td:last-child {
  border-right: none;
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #90d3ff;
  padding: 0.5rem;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 10, 0.4);
}

th:last-child {
  border-right: none;
}

.centered-table th,
.centered-table td {
  text-align: center;
}
